
<div cg-busy="{promise:myPromise,message:busymsg,backdrop:true}">
    <div id="page-title">
        <h2>Overview</h2>
        <p>Sort description.</p>
    </div>
   
    <div class="row">
        <div class="col-md-8">
            <div class="dashboard-box dashboard-box-chart bg-white content-box">
                <div class="content-wrapper">
                    <div id="main" style="height:400px"></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="dashboard-box dashboard-box-chart bg-white content-box">
                <div class="content-wrapper">
                    <div id="main1" style="height:400px"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="dashboard-box dashboard-box-chart bg-white content-box">
                <div class="content-wrapper">
                    <div id="main2" style="height:400px"></div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="dashboard-box dashboard-box-chart bg-white content-box">
                <div class="content-wrapper">
                    <div id="main3" style="height:400px"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="dashboard-box dashboard-box-chart bg-white content-box">
                <div class="content-wrapper">
                    <div id="main4" style="height:400px"></div>
                </div>
            </div>
        </div>
    </div>

</div>
